/* font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;*/
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_part{
    width: 40%;
    padding-top: 150px;
}
.left_part h1{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    padding-left: 20px ;

    
    border-left: 5px solid #08D9D6;
}
.left_part h1 span{
    color: #07689F;
    font-family: 'Yeseva One', cursive;

    
}
.left_part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3E3E3E;
    padding: 20px 150px 0 0 ;
    line-height: 30px;
    font-weight: 500;
}
#small_p{
    font-size: 14px;
    font-weight: 300;
}

.right_part{
    width: 30%;
    text-align: center;
}
.banner_image{
    width: 70%;
}
.buttons{
    background-color: #08D9D6;
    padding: 10px 25px;
    margin: 25px 0px;
    font-size: 16px;
    color:#fff;
    border: 1px solid transparent;
    border-radius: 5px;
    
}
.mission_div{
    padding-top: 80px;


}
.mission_div h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #13103A;
}
.mission_div h1 span{
    color: #07689F;

}
.mission_blocks{
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}
.blocks{
    width: 18%;
    text-align: left;
    margin: 0% 3%;
    border-radius: 50px;
    padding: 50px 20px 70px 20px;
}
.block-1{
    background-color: #EEF6F7;
}
.block-2{
    background-color: #FFEFEF;
}
.block-3{
    background-color: #FFF4D6;
}
.mission_blocks img{
    width: 35%;
}
.mission_blocks h3{
    padding: 0 0 20px 20px ;
    font-weight:bold;
    font-size: 24px;
}
.mission_blocks p{
    padding-left: 20px ;
    color: #424242;
}
.documentation_parts{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px;
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 10% 100%;
    z-index: 1;
    
}
.bg_2{
    background-position: 90% 87%;
}

.doc_image{
    width: 20%;
}
.doc_image img{
    width: 100%;
}
.doc_texts{
    width: 40%;
}
.doc_texts h1{
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    padding: 30px 0px;
}
.doc_texts p{
    padding-bottom: 15px;
    font-size: 18px;
}
.newsletter_section_{
    width: 40%;
    margin: auto;
}
.newsletter{
    width: 30%;
    margin: auto;
    text-align: center;
}
.newsletter h3{
    font-size: 36px;
    
}
.newsletter h3 span{
    color: #07689F;
}
.newsletter input{
    font-size: 26px;
    margin-top:0px;
    padding: 10px 25px;
    border: 2px solid #07689F;
    border-radius: 50px;
}

footer{
    background-color: #0B0D17;
}
.footer_contents{
    text-align: center;
    padding: 50px 0px;
    margin-top: 20px;
}
.footer_contents h2{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    padding-bottom: 15px;
}
.footer_contents h2 span{
    color: #08D9D6;
    font-size: 36px;
    font-family: 'Lobster', cursive;
}
.footer_contents p{
    color: #FFF;
    font-family: 'Manrope', sans-serif;
}
