/* font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_part{
    width: 40%;
    padding-top: 150px;
}
.left_part h1{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 80px;
    padding: 0 0 20px 0 ;
}
.left_part h1 span{
    color: #FFAD5A;
    font-family: 'Yeseva One', cursive;
    
}
.left_part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3E3E3E;
    padding: 0 150px 0 0 ;
    line-height: 30px;
    font-weight: 500;
}
#small_p{
    font-size: 14px;
    font-weight: 300;
}

.right_part{
    width: 30%;
    text-align: center;
}
.banner_image{
    width: 70%;
}
.buttons{
    background-color: #FF5959;
    padding: 10px 25px;
    margin: 25px 0px;
    font-size: 16px;
    color:#fff;
    border: 1px solid transparent;
    border-radius: 5px;
    
}
.mission_div{
    padding-top: 80px;


}
.mission_div h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #13103A;
}
.mission_div h1 span{
    color: #FFAD5A;

}
.mission_blocks{
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}
.blocks{
    width: 18%;
    text-align: left;
    margin: 0% 3%;
    border-radius: 50px;
    padding: 50px 20px 70px 20px;
}
.block-1{
    background-color: #EEF6F7;
}
.block-2{
    background-color: #FFEFEF;
}
.block-3{
    background-color: #FFF4D6;
}
.mission_blocks img{
    width: 35%;
}
.mission_blocks h3{
    padding: 0 0 20px 20px ;
    font-weight:bold;
    font-size: 24px;
}
.mission_blocks p{
    padding-left: 20px ;
    color: #424242;
}
.documentation_parts{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px;
    
}
.doc_image{
    width: 20%;
}
.doc_image img{
    width: 100%;
}
.doc_texts{
    width: 40%;
}
.doc_texts h1{
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    padding: 30px 0px;
}
.doc_texts p{
    padding-bottom: 15px;
    font-size: 18px;
}
.newsletter_section_{
    width: 40%;
    margin: auto;
}
.newsletter{
    width: 30%;
    margin: auto;
    text-align: center;
}
.newsletter h3{
    font-size: 26px;
}
.newsletter input{
    font-size: 26px;
    padding: 0px 25px;
    border: 2px solid #FF5959;
    border-radius: 50px;
}
